@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #222;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.wrapper {
	width: 1280px;
	margin: 50px auto;
}
header {
	position: relative;
	.logo {
		font-size: 20px;
	}

	.presentation {
		margin: 50px 0;
		background: url(./img/intro.jpg);
		background-repeat: no-repeat;
		width: 100%;
		height: 500px;
		background-size: cover;
		background-position: center;
		background-blend-mode: multiply;
		background-color: #bcbcbc;
		position: relative;

		&:after {
			content: 'The best for your Home';
			position: absolute;
			top: 100px;
			left: 50px;
			width: 300px;
			font-size: 40px;
			font-weight: 600;
			color: #fff;
		}
		&:before {
			content: 'with good price';
			position: absolute;
			top: 210px;
			left: 50px;
			width: 300px;
			font-size: 15px;
			font-weight: 3 00;
			color: #fff;
		}
	}

	.nav {
		float: right;
		list-style: none;

		li {
			display: inline;
			margin-left: 25px;
			cursor: pointer;
			transition: opacity 0.25s;
			&:hover {
				opacity: 0.5;
			}
		}
	}

	.shop-cart-btn {
		float: right;
		cursor: pointer;
		transition: color 0.3s ease;

		&:hover,
		&.active {
			color: #dc3d3d;
		}
	}
	.shop-cart {
		z-index: 1;
		position: absolute;
		top: 30px;
		right: 0;
		width: 450px;
		background: #fafafa;
		box-shadow: 5px 5px 10px 5px rgba(68, 66, 66, 0.278);

		padding: 20px;
		padding-bottom: 0;
	}
	.order {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		img {
			height: 70px;
			width: 70px;
			float: left;
			margin-right: 20px;
			border: 1px solid rgb(181, 178, 178);
		}
		h2 {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
	.empty {
		margin-bottom: 20px;
		font-weight: 600;
	}
}

main {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;

	h2,
	p,
	b {
		margin: 10px 20px;
		color: #333;
	}

	b {
		color: #5fa36a;
	}

	.item {
		width: 30%;
		margin-bottom: 50px;
		background: #f5f5f5;
		overflow: hidden;
		position: relative;
		padding-bottom: 20px;

		img {
			width: 100%;
			object-fit: cover;
			border-radius: 10px 10px 0 0;
			transition: 0.3s ease;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
	.add-to-cart {
		position: absolute;
		right: 20px;
		bottom: 20px;
		background: #ca5252;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;
		color: #fff;
		cursor: pointer;
		font-weight: 600;
		border-radius: 50%;
		transition: 0.3s ease;

		&:hover {
			opacity: 0.8;
		}
	}
}

footer {
	text-align: center;
	margin-top: 100px;
	background: #989898;
}
